html{
    box-sizing:border-box;
    font-family: Roboto;
    scroll-behavior: smooth;
}
*{
    margin:0px;
    padding:0px;
}
*,*:before,*:after{
    box-sizing:inherit;
}
a,a:visited{
    color:#E5E7EB;
    text-decoration:none;
}
/* HEADER */ 
.header{
    display:flex;
    background-color:#1F2937;
    align-items:center;
    justify-content: space-around;
    position:sticky;
    top:0;
}
.header.right{
    display:flex;
}
.header .one{
    font-size:24px;
    font-weight:900;
    color:#F9FAF8;
}
.header.right div{
    color:#E5E7EB;
    font-size: 18px;
    margin:15px;
}

/* HERO */
.Hero{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height:50vh;
}
.Left{
    display: flex;
    flex-direction: column;
    margin:50px;
    margin-right:50px;
    width:450px;
}
.Left div{
    margin:5px;
}
.HeroText{
    font-size: 48px;
    color: #F9FAF8;
    font-style: bold;
}
.SubText{
    font-size:18px;
    color:#E5E7EB;
    flex-wrap: wrap;
}
.SignUp{
    background-color: #3882F6;
    font-size:18px;
    font-weight:900;
    color:#F9FAF8;
    width:fit-content;
    padding:5px 25px;
    border-radius: 5px;
    
}
.Right{
    width:500px;
    height: 250px;
    background-color:gray;
    display: flex;  
    align-items: center;
    justify-content: center;
    
}

/* Info */

.Info{
    display:flex;
    flex-direction: column;
    align-items: center;
    height:50vh;
}

.InfoHead{
    color:#1F2937;
    font-size:36px;
    font-style: bold;
    margin:40px;
}
.InfoContent{
    display:flex;
    flex-direction: column;
    margin:0 30px;
}
.InfoBoxMain{
    display:flex;
    justify-content:space-around;
}
.InfoBox{
    border:3px solid #3882F6;
    width:170px;
    height:170px;
    border-radius:25px;
}
.InfoText{
    flex-wrap: wrap;
    width: 170px;
    font-size:18px;
    color: #373f49;
    margin:5px 0;
    text-align: center;
    margin-bottom:100px;
}

/* Quote */ 
.Quote{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    height:500px;
}
.QuoteBox{
    display: flex;
    flex-direction: column;
}
.QuoteText{
    font-size:36px;
    font-style: italic;
    color:#373f49;
    flex-wrap: wrap;
    width:1000px;
    margin:50px;
}
.Quoted{
    align-self:  flex-end;
    font-size:24px;
    font-weight:900;
    color:#1F2937;
}

/* Call to action */

.CTA{
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.CTAbox{
    background-color:#3882F6;
    display: flex;
    align-items: center;
    border-radius: 10px;
    width:60vw;
    padding: 50px 0;
    justify-content: space-between;
}
.CTAtext{
    display: flex;
    flex-direction: column;
    margin-left:100px;
}
.CTAHero{
    font-size: 24px;
    font-style: bold;
    color: #F9FAF8;
}
.CTASub{
    font-size: 18px;
    font-style: italic;
    color: #E5E7EB;
}
.CTASU{
    margin: 0px 100px;
    font-size:18px;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    padding:5px 25px;
    border-radius: 5px;
    font-style: bold;


}
/* Footer */
.Footer{
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
}